version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin123
    volumes:
      - /home/jean/Documents/rabbitmq-data:/var/lib/rabbitmq
  #      - G:/rabbitmq-data:/var/lib/rabbitmq
  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: tenet_main
    ports:
      - "5433:5432"
    volumes:
      - /home/jean/Documents/postgres-data:/var/lib/postgresql/data

  profile:
    image: tenet-profile:1.0.30
    container_name: tenet-profile
    restart: always
    depends_on:
      - postgres
    env_file:
      - /home/jean/dev/tenet-profile/cmd/.env
    ports:
      - "8082:8082"
    volumes:
      - /home/jean/Documents/tenet/profile-uploads:/app/uploads
    extra_hosts:
      - "host.docker.internal:host-gateway"

  tenet-main:
    image: tenet-main:1.0.26
    container_name: tenet-main26
    restart: always
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    extra_hosts:
      - "host.docker.internal:host-gateway"